
#topNav1 {
    background-color: black;
    padding: 10px 0px;
    color: white;
}
#topNav1 a{
    color: wheat;
    text-decoration: none; 
    padding-left: 10px;
    
}

#topNav1 a:hover {
    text-decoration: underline;
}


